<h1>_rail.html.erb</h1>

<%= link_to '새 글 작성하기', new_post_path %><br>
<%= link_to '목록으로', posts_path %><br>

<% if Post.last %>
  <%= link_to '새로 작성된 글', Post.last %><br>
<% end %>
<% if Comment.last %>
  <%= link_to '새로 작성된 댓 글', Comment.last.post %><br>
<% end %>
